{
    "openapi": "3.0.3",
    "info": {
        "title": "Personal Productivity API",
        "description": "A comprehensive API for managing tasks, notes, reminders, and getting weather information. Perfect for AI assistant integration.",
        "version": "1.0.0",
        "contact": {
            "name": "API Support",
            "email": "support@productivity-api.com"
        }
    },
    "servers": [
        {
            "url": "https://api.productivity-demo.com/v1",
            "description": "Production server"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/tasks": {
            "get": {
                "operationId": "listTasks",
                "summary": "List all tasks",
                "description": "Retrieve all tasks with optional filtering by status, priority, or due date",
                "tags": [
                    "Tasks"
                ],
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by task status",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "in_progress",
                                "completed",
                                "cancelled"
                            ]
                        }
                    },
                    {
                        "name": "priority",
                        "in": "query",
                        "description": "Filter by priority level",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "low",
                                "medium",
                                "high",
                                "urgent"
                            ]
                        }
                    },
                    {
                        "name": "due_before",
                        "in": "query",
                        "description": "Filter tasks due before this date (ISO 8601)",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of tasks to return",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of tasks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "tasks": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Task"
                                            }
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createTask",
                "summary": "Create a new task",
                "description": "Create a new task with title, description, priority, and due date",
                "tags": [
                    "Tasks"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Task created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Task"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tasks/{taskId}": {
            "get": {
                "operationId": "getTask",
                "summary": "Get a specific task",
                "description": "Retrieve details of a specific task by ID",
                "tags": [
                    "Tasks"
                ],
                "parameters": [
                    {
                        "name": "taskId",
                        "in": "path",
                        "required": true,
                        "description": "Unique task identifier",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Task details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Task"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Task not found"
                    }
                }
            },
            "put": {
                "operationId": "updateTask",
                "summary": "Update a task",
                "description": "Update an existing task's details",
                "tags": [
                    "Tasks"
                ],
                "parameters": [
                    {
                        "name": "taskId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateTaskRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Task updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Task"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteTask",
                "summary": "Delete a task",
                "description": "Permanently delete a task",
                "tags": [
                    "Tasks"
                ],
                "parameters": [
                    {
                        "name": "taskId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Task deleted successfully"
                    }
                }
            }
        },
        "/tasks/{taskId}/complete": {
            "post": {
                "operationId": "completeTask",
                "summary": "Mark task as complete",
                "description": "Mark a task as completed with optional completion notes",
                "tags": [
                    "Tasks"
                ],
                "parameters": [
                    {
                        "name": "taskId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "completion_notes": {
                                        "type": "string",
                                        "description": "Optional notes about task completion"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Task marked as complete",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Task"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/notes": {
            "get": {
                "operationId": "listNotes",
                "summary": "List all notes",
                "description": "Retrieve all notes with optional search and tag filtering",
                "tags": [
                    "Notes"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search notes by title or content",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Filter by tags (comma-separated)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of notes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "notes": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Note"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createNote",
                "summary": "Create a new note",
                "description": "Create a new note with title, content, and optional tags",
                "tags": [
                    "Notes"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateNoteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Note created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Note"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/notes/{noteId}": {
            "get": {
                "operationId": "getNote",
                "summary": "Get a specific note",
                "tags": [
                    "Notes"
                ],
                "parameters": [
                    {
                        "name": "noteId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Note details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Note"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteNote",
                "summary": "Delete a note",
                "tags": [
                    "Notes"
                ],
                "parameters": [
                    {
                        "name": "noteId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Note deleted"
                    }
                }
            }
        },
        "/reminders": {
            "get": {
                "operationId": "listReminders",
                "summary": "List upcoming reminders",
                "description": "Get all upcoming reminders sorted by time",
                "tags": [
                    "Reminders"
                ],
                "parameters": [
                    {
                        "name": "upcoming_hours",
                        "in": "query",
                        "description": "Only show reminders in the next N hours",
                        "schema": {
                            "type": "integer",
                            "default": 24
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of reminders",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "reminders": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Reminder"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createReminder",
                "summary": "Create a reminder",
                "description": "Set a reminder for a specific date and time",
                "tags": [
                    "Reminders"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateReminderRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Reminder created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Reminder"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/weather/current": {
            "get": {
                "operationId": "getCurrentWeather",
                "summary": "Get current weather",
                "description": "Get current weather conditions for a location",
                "tags": [
                    "Weather"
                ],
                "parameters": [
                    {
                        "name": "city",
                        "in": "query",
                        "required": true,
                        "description": "City name (e.g., 'London', 'New York')",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "units",
                        "in": "query",
                        "description": "Temperature units",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "metric",
                                "imperial"
                            ],
                            "default": "metric"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Current weather data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WeatherResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/weather/forecast": {
            "get": {
                "operationId": "getWeatherForecast",
                "summary": "Get weather forecast",
                "description": "Get 5-day weather forecast for a location",
                "tags": [
                    "Weather"
                ],
                "parameters": [
                    {
                        "name": "city",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "description": "Number of forecast days (1-5)",
                        "schema": {
                            "type": "integer",
                            "default": 5,
                            "minimum": 1,
                            "maximum": 5
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Weather forecast",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "city": {
                                            "type": "string"
                                        },
                                        "forecast": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DailyForecast"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calendar/events": {
            "get": {
                "operationId": "listCalendarEvents",
                "summary": "List calendar events",
                "description": "Get calendar events for a date range",
                "tags": [
                    "Calendar"
                ],
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": true,
                        "description": "Start date (ISO 8601)",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": true,
                        "description": "End date (ISO 8601)",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of events",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "events": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CalendarEvent"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createCalendarEvent",
                "summary": "Create a calendar event",
                "description": "Add a new event to the calendar",
                "tags": [
                    "Calendar"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEventRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Event created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalendarEvent"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key",
                "description": "API key for authentication"
            }
        },
        "schemas": {
            "Task": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "in_progress",
                            "completed",
                            "cancelled"
                        ]
                    },
                    "priority": {
                        "type": "string",
                        "enum": [
                            "low",
                            "medium",
                            "high",
                            "urgent"
                        ]
                    },
                    "due_date": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "completed_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "CreateTaskRequest": {
                "type": "object",
                "required": [
                    "title"
                ],
                "properties": {
                    "title": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                    },
                    "description": {
                        "type": "string",
                        "maxLength": 2000
                    },
                    "priority": {
                        "type": "string",
                        "enum": [
                            "low",
                            "medium",
                            "high",
                            "urgent"
                        ],
                        "default": "medium"
                    },
                    "due_date": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "UpdateTaskRequest": {
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "pending",
                            "in_progress",
                            "completed",
                            "cancelled"
                        ]
                    },
                    "priority": {
                        "type": "string",
                        "enum": [
                            "low",
                            "medium",
                            "high",
                            "urgent"
                        ]
                    },
                    "due_date": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Note": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "title": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CreateNoteRequest": {
                "type": "object",
                "required": [
                    "title",
                    "content"
                ],
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "content": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "Reminder": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "message": {
                        "type": "string"
                    },
                    "remind_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "is_recurring": {
                        "type": "boolean"
                    },
                    "recurrence_pattern": {
                        "type": "string",
                        "enum": [
                            "daily",
                            "weekly",
                            "monthly"
                        ],
                        "nullable": true
                    }
                }
            },
            "CreateReminderRequest": {
                "type": "object",
                "required": [
                    "message",
                    "remind_at"
                ],
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "remind_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "is_recurring": {
                        "type": "boolean",
                        "default": false
                    },
                    "recurrence_pattern": {
                        "type": "string",
                        "enum": [
                            "daily",
                            "weekly",
                            "monthly"
                        ]
                    }
                }
            },
            "WeatherResponse": {
                "type": "object",
                "properties": {
                    "city": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "temperature": {
                        "type": "number"
                    },
                    "feels_like": {
                        "type": "number"
                    },
                    "humidity": {
                        "type": "integer"
                    },
                    "description": {
                        "type": "string"
                    },
                    "wind_speed": {
                        "type": "number"
                    },
                    "icon": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "DailyForecast": {
                "type": "object",
                "properties": {
                    "date": {
                        "type": "string",
                        "format": "date"
                    },
                    "high_temp": {
                        "type": "number"
                    },
                    "low_temp": {
                        "type": "number"
                    },
                    "description": {
                        "type": "string"
                    },
                    "precipitation_chance": {
                        "type": "integer"
                    },
                    "icon": {
                        "type": "string"
                    }
                }
            },
            "CalendarEvent": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "start_time": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "end_time": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "location": {
                        "type": "string"
                    },
                    "attendees": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "email"
                        }
                    },
                    "is_all_day": {
                        "type": "boolean"
                    }
                }
            },
            "CreateEventRequest": {
                "type": "object",
                "required": [
                    "title",
                    "start_time",
                    "end_time"
                ],
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "start_time": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "end_time": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "location": {
                        "type": "string"
                    },
                    "attendees": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "email"
                        }
                    },
                    "is_all_day": {
                        "type": "boolean",
                        "default": false
                    }
                }
            }
        }
    }
}